manifest {
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = ">=20.07.0"
}

params {
    input {
        dir = "input"
        emx_txt_files = "*.emx.txt"
        emx_files = "*.emx"
        ccm_files = "*.ccm"
        cmx_files = "*.cmx"
    }

    output {
        dir = "output"
    }

    import_emx {
        enabled = true
    }

    similarity {
        enabled = true
        chunkrun = true
        chunks = 10
        gpu_model = "cpu"
        threads = 1
        clus_method = "none"
        corr_method = "spearman"
        min_expr = 0
        min_clus = 1
        max_clus = 5
        criterion = "ICL"
        preout = true
        postout = true
        min_corr = 0.5
        max_corr = 1
        bsize = 0
        gsize = 4096
        lsize = 32
    }

    export_cmx {
        enabled = false
    }

    threshold_constant {
        enabled = false
        threshold = 0.5
    }

    threshold_rmt {
        enabled = true
        reduction = "first"
        threads = 1
        spline = true
    }

    extract {
        enabled = true
    }
}



report {
    enabled = true
    file = "${params.output.dir}/reports/report.html"
}



timeline {
    enabled = true
    file = "${params.output.dir}/reports/timeline.html"
}



trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes,vol_ctxt,inv_ctxt,workdir,scratch,error_action"
    file = "${params.output.dir}/reports/trace.txt"
    raw = true
}



docker {
    runOptions = "--init --gpus all"
}



singularity {
    runOptions = "--bind \${TMPDIR} --nv"
    autoMounts = true
    cacheDir = "work-singularity"
}



process {
    container = "systemsgenetics/kinc:3.4.2-cpu"
    errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
    scratch = false

    withLabel:gpu {
        container = { params.similarity.gpu_model == "cpu" ? "systemsgenetics/kinc:3.4.2-cpu" : "systemsgenetics/kinc:3.4.2-gpu" }
        accelerator = { params.similarity.gpu_model == "cpu" ? 0 : 1 }
    }
}



profiles {
    modules {
        process {
            module = "kinc/v3.4.2"

            withLabel:python {
                module = "anaconda3/5.1.0-gcc/8.3.1"
            }
        }
    }

    pbs {
        process {
            executor = "pbspro"
            time = "12h"
            clusterOptions = "-l select=1:mem=8gb:ncpus=1"

            withName:similarity_chunk {
                time = "24h"
                clusterOptions = {
                    params.similarity.gpu_model == "cpu"
                    ? "-l select=1:mem=8gb:ncpus=1"
                    : "-l select=1:mem=8gb:ncpus=${params.similarity.threads}:ngpus=1:gpu_model=${params.similarity.gpu_model}"
                }
            }
            withName:similarity_mpi {
                time = "24h"
                clusterOptions = {
                    params.similarity.gpu_model == "cpu"
                    ? "-l select=${params.similarity.chunks + 1}:ncpus=1:mem=8gb"
                    : "-l select=${params.similarity.chunks + 1}:ncpus=${params.similarity.threads}:mem=8gb:ngpus=1:gpu_model=${params.similarity.gpu_model}"
                }
            }
            withName:threshold_rmt {
                clusterOptions = "-l select=1:mem=8gb:ncpus=${params.threshold_rmt.threads}"
            }
        }
        executor {
            queueSize = 50
        }
    }

    standard {
        process {
            withName:similarity_chunk {
                cpus = { params.similarity.gpu_model == "cpu" ? 1 : "${params.similarity.threads}" }
                memory = 8.GB
            }
            withName:similarity_mpi {
                cpus = { params.similarity.gpu_model == "cpu" ? "${params.similarity.chunks}" : "${params.similarity.chunks * params.similarity.threads}" }
                memory = 8.GB
            }
            withName:threshold_rmt {
                cpus = "${params.threshold_rmt.threads}"
                memory = 8.GB
            }
        }
    }

    testing {
        process.errorStrategy = "terminate"
    }
}
